.stats {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* .flexGrow {
  flex-grow: 1;
} */
.stat {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .stat {
    justify-content: start;
  }
}

@media screen and (min-width: 1280px) {
  .stat {
    justify-content: center;
  }
}

.gray {
  color: #898F9F;
}

.gray:not(:last-child) {
  margin-right: 20px;
}

.black {
  color: #242A37;
}

.black:not(:last-child) {
  margin-right: 20px;
}
